/* Estilos globais */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("pagina principal.jpg") no-repeat center center/cover;
  font-family: 'Poppins', sans-serif;
}

/* Container principal */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 15px;
  border-radius: 25px;
  max-width: 90%;
  text-align: center;
  box-shadow: 0 6px 20px rgba(0,0,0,0.25);
  background: rgba(255, 255, 255, 0); /* transparente */
}

/* Título */
h1 {
  font-size: 36px;
  font-family: 'Great Vibes', cursive;
  color: #75024f;
  text-shadow: 1px 1px 4px rgba(253, 252, 252, 0.3);
  margin-bottom: 12px;
}

/* Texto de boas-vindas */
p {
  font-size: 14px;
  color: #0a0a0a;
  margin-bottom: 20px;
  text-shadow: 1px 1px 4px rgba(245, 243, 243, 0.685);
}

/* Botão */
.btn {
  padding: 12px 25px;
  background-color: #570249;
  color: #fff;
  text-decoration: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: bold;
  transition: 0.3s;
  text-align: center;
  display: inline-block;
}

.btn:hover {
  background-color: #fd4281;
}

/* Responsividade */
@media (max-width: 400px) {
  h1 {
    font-size: 28px;
  }
  
  p {
    font-size: 13px;
  }

  .btn {
    font-size: 14px;
    padding: 10px 20px;
  }
}
